extends layout.pug
block content
    style
        include ../public/stylesheets/edit-question.css
    body
        nav.nav-container
            a(href="/questions" class="logo") Korra
            form(class="search-container" action="/search/", method="post")
              input(name='value').search-input
              button(type='submit')
                i(class="fas fa-search")
            //- .search-container
            //-     i(class="fas fa-search")
            //-     input.search-input
            .right-nav-container
                a(href="/logout" class="log-out-button") Log Out
        .container
            if errors
                .error-container
                    ul
                        each error in errors
                            li= error
            form(class="form-container" action=`/questions/${question.id}/edit` method="POST")
                input(type='hidden' name='_csrf' value=csrfToken)
                .edit-question-container
                    label.edit-question-title Edit Your Question
                .title-container
                    label(for='title') title
                    input(id="title-input" type='text' name="title" value=question.title)
                .topic-container
                    label(for="topic") Topic
                    select(name="topic").question-topics
                        each topic in topics
                            option(value=topic.id)= topic.topic
                .description-container
                    label(for="description") description
                    textarea(name="description", cols="80", rows="8" )= question.description
                .submit-question-container
                    button(class="edit-question-button" type='submit') Edit Question
