extends layout.pug

block content
    style
        include ../public/stylesheets/single-question.css
    script(src="/javascripts/answers.js" type="module")
    body
        nav.nav-container
            a(href="/questions" class="logo") Korra
            .search-container
              i(class="fas fa-search")
              input.search-input
            .right-nav-container
              .click-container
                span(class="user-name") #{user.username.toUpperCase()}
                span.x: i(class="fa-solid fa-angle-down")
            .dropdown
              a(href="/questions/create" class="add-question-button") Add Question
              a(href="/logout" class="log-out-button") Log Out
        .container
            if errors
                .error-container
                    ul
                        each error in errors
                            li= error
            .question
                p.question-topic= question.Topic.topic
                h2.question-title= question.title
                span= question.description
                if(question.userId == user.id)
                  .question-button-container
                    a(href=`/questions/${question.id}/edit` class="update-button") Edit
                    a(href=`/questions/${question.id}/delete` class="delete-button") Delete
            .answers-Post
                form(action=`/questions/${question.id}/answer`, method="post" id="answer-form")
                    textarea(placeholder="Leave your answer." id="answers-Test" name="content", cols="100", rows="9" value=content)
                    button(class='create-answer' id=question.id) Answer
            each answer in question.Answers
                .answers(class=answer.id)
                    span= answer.content
                    if(question.userId == user.id)
                      .answers-button-container
                        a(href=`/answers/${answer.id}/edit` class="answer-update-button" id=answer.id) Edit
                        a(href=`/answers/${answer.id}/delete` class="answer-delete-button" id=answer.id) Delete
